#include <dt-bindings/gpio/gpio.h>

/ {
    hc_sr04_1: hc_sr04_1 {
        compatible = "hc-sr04";
        trigger-gpios = <&gpio0 26 GPIO_ACTIVE_HIGH>;
        echo-gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
        status = "okay";
    };

    hc_sr04: hc_sr04 {
        compatible = "hc-sr04";
        trigger-gpios = <&gpio0 27 GPIO_ACTIVE_HIGH>;
        echo-gpios = <&gpio0 19 GPIO_ACTIVE_HIGH>;
        status = "okay";
    };

    aliases {
        hcsr041 = &hc_sr04_1;
        hcsr04 = &hc_sr04;
    };

	chosen {
		zephyr,display = &ili9342c;
	};

	mipi_dbi {
		compatible = "zephyr,mipi-dbi-spi";
		spi-dev = <&spi3>;
		dc-gpios = <&gpio0 15 GPIO_ACTIVE_HIGH>;	/* DC pin */
		reset-gpios = <&gpio0 4 GPIO_ACTIVE_LOW>;	/* Reset pin - may need AXP192 control */
		#address-cells = <1>;
		#size-cells = <0>;

		ili9342c: ili9342c@0 {
			compatible = "ilitek,ili9342c";
			reg = <0>;
			//spi-max-frequency = <25000000>; /* 25 MHz max for ILI9342C */
			
			pixel-format = <0>; /* RGB565 */
			rotation = <0>;
			width = <320>;
			height = <240>;
			display-inversion;
		};
	};
};

&spi3 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	cs-gpios = <&gpio0 5 GPIO_ACTIVE_LOW>;	/* CS pin */
};